.book-row {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
}
span{
    font-weight: bold;
}
.header-table{
    border-bottom: 1px solid gray;
}